doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.css")
  body
   h1 Usama Hassan 
    i is a good boy
   h2 Usama Hassan
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam dolor quia repellat aspernatur quam quasi nihil facilis, similique velit aliquid! Tempore similique eveniet dolore commodi aliquid iure, minus veritatis.